#contact{
    height: 85vh;
}
#contact-container{
    width: 90%;
}

#contact-title{
    width: 100%;
    text-align: left; 
    line-height: 0.9;
    margin-left: 50px;
}

.contact-icon{
    width: 40px;
    height: 40px;
    fill: #333;
    margin: 0 27px;
  }
  
#contact{
    font-size: 30px;
}


.contact-basic{
    width: 700px;
    margin: 40px 10px;
}

.contact-socials{
    align-items: center;
    margin: 0 40px;
}

.socials{
    display: flex;
    width: 120px;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: #bfb57f;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    margin: 8px;
    cursor: pointer;
}

.socials:hover {
    transform: translateY(-10px) scale(1.05);
    background-color: #aba374;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.socials::after {
    content: attr(data-hint); /* Get text from the data-hint attribute */
    position: absolute;
    bottom: 105%; /* Position above the element */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
}

.socials:hover::after {
    opacity: 1;
    visibility: visible;
}

.social-icon{
    width: 130px;
    height: 130px;
    fill: #333;
    color: #333;
}

.contact-basic svg{
    fill: #bfb57f;
}

.contact-pic{
    width: 100%;
    background-image: url('../media/contact-pic.PNG');
    background-size: cover;
    background-position: center;
}
