.projects-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-bottom: 25px;
}

.project-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 420px;
    width: 500px;
    border-radius: 5px;
    padding: 10px 0;
}

.project-title{
    font-size: 25px;
    width: 80%;
    padding: 10px 0;
}

.project-img{
    width: 90%;
    height: 180px;
    background-image: url('../media/proj1.PNG');
    background-position: center;
    background-size: cover;
}

.project-details{
    font-size: 18px;
    margin: 25px;
    text-align: center;
    width: 90%;
}

#more-btn{
    width: 970px;
    font-size: 30px;
    padding: 25px;
    border-radius: 5px;
}
